<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
	{% load static %}
	<link rel="stylesheet" href="{% static "accounts/css/profile.css" %}">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{% static "accounts/js/profile.js" %}"></script>
	<script type="text/javascript" src="{% static "accounts/js/like.js" %}"></script>
	
	<title>
		{% block title %}
		{% endblock %}
	</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">
			<img src="/media/logo.png" width="30" height="30" alt="" class="d-inline-block align-top">
			SnapShare
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<form class="form-inline my-2 my-lg-0 search-form">
				<input class="form-control form-control-sm text-center" type="search" placeholder="Search" aria-label="Search" style="width:50%;">
			</form>
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="#">Related</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/posts/upload/">Upload</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/accounts/profile/{{request.user.username}}">Profile</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/accounts/logout/">Logout</a>
				</li>
			</ul>
		</div>
	</nav>
	<div class="container" style="padding-top : 10px;">
		{% block content %}
		{% endblock %}
	</div>
	
</body>
</html>