{% extends "SnapShare/base.html" %}

{% block title %}
	SnapShare
{% endblock %}

{% block content %}
<div class="container">
		<div class="card-columns">
				{% for post in posts %}
				<div class="card">
				<div class="card-header bg-transparent text-center">
					<img src="{{post.user.profile.profile_picture.url}}" class="rounded-circle" width="25px" height="25px">
					<a href="/accounts/profile/{{post.user.username}}/">{{post.user.username}}</a>
				</div>
				  <img class="card-img" src="{{post.image.url}}" alt="Card image cap">
				  <div class="card-body">
					<p class="card-text">{{post.caption}}
						<small class="text-muted">{{post.timestamp | timesince}} ago</small>
					</p>
					<span class="badge badge-danger card-link">{{post.likes_count}} Likes</span>
					<span class="badge badge-success card-link">{{post.comments_count}} Comments</span>
					<a href="/posts/single/{{post.uuid}}" class="card-link">View</a>
				  </div>
				</div>
				{% endfor %}
			  </div>
</div>
{% endblock %}