{% extends "SnapShare/base.html" %}

{% block title %}
	{{user.username}}
{% endblock %}

{% block content %}
<div class="container">
	{% if messages %}
	<div class="messages container col-sm-4 text-center">
		{% for message in messages %}
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			{{ message }}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		{% endfor %}
	</div>
	{% endif %}
</div>
<div class="container jumbotron-container">
	<div class="jumbotron">
		<div class="container">
			<div class="row justify-content-md-center">
				<div class="col-sm-2">
					<img src="{{user.profile.profile_picture.url}}" class="profile-image rounded-circle float-left" alt="Responsive image">
				</div>
				<div class="col-sm-6">
					<div class="row">
						<div class="col">
							<h3 class="display-6">@{{user.username}}</h3>
						</div>
						<div class="col">
							{% if user == request.user%}
							<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#profileUpdateModal">Edit Profile</button>
							{% else%}
							<form id="follow-form">
								{% csrf_token %}
								<input type="hidden" name="to_user" value={{user}}>
								{% if following_flag %}
								<button id="follow-toggle" class="btn btn-secondary btn-sm">Following</button>
								{% else %}
								<button id="follow-toggle" class="btn btn-primary btn-sm">Follow</button>
								{% endif %}
							</form>
							{% endif %}
						</div>
					</div>
					<span class="badge badge-light">{{user.profile.post_count}} posts</span>
					<span class="badge badge-light">{{user.profile.follower_count}} followers</span>
					<span class="badge badge-light">{{user.profile.connection_count}} following</span>
					<p class="text-justify"><strong>{{user.profile.get_full_name}}</strong> {{user.profile.bio}}</p>
				</p>
			</div>
		</div>
	</div>
</div>

<div class="album py-5 bg-light">
	<div class="container">		
		<div class="row">
			{% for post in posts %}
			<div class="col-md-4">
				<div class="card mb-4 box-shadow">
					<img class="card-img-top" src="{{post.image.url}}" alt="Card image cap">
					<div class="card-body">
						<p class="card-text">{{post.caption}}</p>
						<div class="d-flex justify-content-between align-items-center">
							<div class="btn-group">
								<a href="/posts/single/{{post.uuid}}" class="card-link">View</a>
								<a href="" class="card-link">Edit</a>
							</div>
							<small class="text-muted">{{post.timestamp | timesince}} ago</small>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="profileUpdateModal" tabindex="-1" role="dialog" aria-labelledby="profileUpdateModalTitle" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="profileUpdateModalTitle">Edit Profile Details</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form action="/accounts/profile/{{request.user.username}}/update/" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="form-group">
						<label for="first_name">First Name</label>
						<input class="form-control" type="text" id="first_name" name="first_name" placeholder="{{user.first_name}}">
					</div>
					<div class="form-group">
						<label for="last_name">Last Name</label>
						<input class="form-control" type="text" id="last_name" name="last_name" placeholder="{{user.last_name}}">
					</div>
					<div class="form-group">
						<label for="bio">Bio</label>
						<textarea class="form-control" type="text" id="bio" name="bio" placeholder="{{user.profile.bio}}"></textarea>
					</div>
					<div class="form-group">
						<label for="profile-picture-change">Profile Picture</label>
						<input name="profile_picture" type="file" class="form-control-file" id="profile-picture-change">
					</div>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button class="btn btn-primary" type="submit">Update</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}