 .search-form
{
	width: 100%; 
	justify-content:center;
}

.profile-image
{
	height: 140px;
	width: 140px;
}

.search-page-image
{
	height: 100px;
	width: 100px;
}

.jumbotron-container
{
	padding-top: 10px;
}