{% extends "SnapShare/base.html" %}

{% block title %}
SnapShare
{% endblock %}

{% block content %}
<div class="row">
	<div class="col">
		<div class="card text-center">
			<div class="card-header">
				<form id="like-form">
					{% csrf_token %}
					<input type="hidden" name="post_uuid" value={{post.uuid}}>
					{% if like_flag %}
					<button id="like-toggle" class="btn btn-secondary btn-sm">Liked <span class="badge badge-light">{{post.likes_count}}</span></button>
					{% else %}
					<button id="like-toggle" class="btn btn-primary btn-sm">Like <span class="badge badge-light">{{post.likes_count}}</span></button>
					
					{% endif %}
				</form>
			</div>
			<img class="card-img-top" src="{{post.image.url}}" >
			<div class="card-body">
				<blockquote class="blockquote mb-0">
					{% if post.caption %}
						<p>{{post.caption}}</p>
					{% endif %}
					{% for tag in tags %}
						<a href="#" class="card-link">#{{tag}}</a>
					{% endfor %}
				</blockquote>
			</div>
			<div class="card-footer text-muted">
				{{post.timestamp | timesince}} ago
			</div>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<div class="card-header">
				Comments
			</div>
			<div class="card-body">
			<form class="form-inline text-center" method="POST" action="/posts/single/comment/">
					{% csrf_token %}
					<input type="text" class="form-control mb-2 mr-sm-2" id="comment_text" name="comment_text">
					<button type="submit" class="btn btn-primary mb-2">Post</button>
					<input type="hidden" name="post_uuid" value="{{post.uuid}}">
			</form>
			<ul class="list-group list-group-flush">
				{% for comment in comments %}
				<li class="list-group-item">
					<a href="/accounts/profile/{{comment.user.username}}">{{comment.user.username}}</a>
					{{comment.text}}
					<small>{{comment.timestamp | timesince}}</small>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	</div>
</div>
{% endblock %}